@(inviteForm: Form[Invite])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("creation") {
    
    <h1>Ajouter invite</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(inviteForm("nom"), '_label -> "Libelle")

           @select(
                inviteForm("presentDimanche"), 
                options(Invite.presencesDimanche), 
                '_label -> "Present le dimanche", '_default -> "--",
                '_showConstraints -> true
            )

		@select(
                inviteForm("type"), 
                options(Invite.types), 
                '_label -> "Type", '_default -> "--",
                '_showConstraints -> true
            )

            @select(
                inviteForm("presence"), 
                options(Invite.presence), 
                '_label -> "Presence", '_default -> "--",
                '_showConstraints -> true
            )
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Ajout de l'invite" class="btn primary"> or 
            <a href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
        
    }
    
}