@(id: Long, inviteForm: Form[Invite])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Modification"){
    
    <h1>Modification Invite</h1>
    <div>
    @form(routes.Application.update(id)) {
        
        <fieldset>
     
             @inputText(field=inviteForm("nom"), '_label -> "Libelle")
              @inputText(inviteForm("nbAdulte"), '_label -> "Nombre d'adulte")
               @inputText(inviteForm("nbEnfant"), '_label -> "Nombre d'enfant")
             @checkbox(inviteForm("valide"), '_label -> "Valide")

		@select(
                inviteForm("presentDimanche"), 
                options(Invite.presencesDimanche), 
                '_label -> "Present le dimanche", '_default -> "--",
                '_showConstraints -> true
            )

		@select(
                inviteForm("type"), 
                options(Invite.types), 
                '_label -> "Type", '_default -> "--",
                '_showConstraints -> true
            )

            @select(
                inviteForm("presence"), 
                options(Invite.presence), 
                '_label -> "Presence", '_default -> "--",
                '_showConstraints -> true
            )
            
            <div id="adultes">
            
            </div>
        
        </fieldset>
        </div>
        <div class="actions">
            <input type="submit" value="Modification" class="btn-primary"> or 
            <a href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Suppression" class="btn-danger">
    }
    
}
