@(currentPage: Page[Invite], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.index( sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}
@main("Home") {


 <div class="span9">

@if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
    
    
   <table class="table">
            <thead>
                <tr>
                    @header("nom", "nom")
                    @header("nbAdulte", "Nombre d'adulte")
                    @header("nbEnfant", "Nombre d'enfant")
                    @header("presence", "Presence")
                     @header("presentDimanche", "Present le dimanche")
                     @header("valide", "valide")
                </tr>
            </thead>
            <tbody>
  @for(invite <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.Application.edit(invite.id)">@invite.nom</a></td>
                       	<td>@invite.getNbAdulte()</td>
                       	<td>@invite.getNbEnfant()</td>
                       	<td>@invite.presence</td>
                       	   	<td>@invite.presentDimanche</td>
                       	<td>@if(invite.valide){oui}else{non	}
                    </tr>
                }

            </tbody>
        </table>
          
        }
        </div>
}